<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="30">

  <Properties>
    <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS}\t%level\t%thread\t%X{traceId}\t(%F:%L)\t|\t%msg%n</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${pattern}" charset="UTF-8"/>
    </Console>
  </Appenders>

  <Loggers>
    <AsyncRoot level="info" includeLocation="true">
      <AppenderRef ref="Console"/>
    </AsyncRoot>
    <!-- 屏蔽解析失败 -->
    <AsyncLogger name="io.github.linwancen.diagrams.java.parser.Step5MethodCall" level="error" additivity="false"/>
    <!-- 避免框架打出来的系统路径混淆 -->
    <AsyncLogger name="guru.nidi.graphviz.engine.GraphvizCmdLineEngine" level="warn" additivity="false"/>
    <!-- 屏蔽框架打出来的命令 -->
    <AsyncLogger name="guru.nidi.graphviz.service.CommandLineExecutor" level="warn" additivity="false"/>
  </Loggers>

</Configuration>